body {
    background-color: #81c27b;
    font-family: Arial, sans-serif;
}

.chatbox {
    width: 800px;
    height: 800px;
    margin: 50px auto;
    background-color: #9fd14d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.chatbox-header {
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #f7f2f2;
}

.chatbox-body {
    padding: 10px;
    height: 700px;
    overflow-y: scroll;
}

.chatbox-message {
    margin-bottom: 15px;
}

.chatbox-message p {
    padding: 10px 15px;
    border-radius: 20px;
    display: block;
    max-width: 50%;
}

.chatbox-message.sent p {
    background-color: #dcf8c6;
    float: right;
    text-align: right;
    display: block;
    clear: right;
    width: 100%;

}

.chatbox-message.received p {
    background-color: #cfd4cb;
    float: left;
    text-align: left;
    display: block;
    clear: left;
    width: 100%;

}

.chatbox-input {
    padding: 10px;
    border-top: 1px solid #ddd;
    display: flex;
}

.chatbox-input input[type="text"] {
    flex: 1;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.chatbox-input button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.typing-indicator {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    animation: typing 1s infinite;
}

@keyframes typing {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}
